- @tshirt.state_transitions.each do |transition|
  = simple_form_for @tshirt, html: { style: "display: inline" } do |f|
    - if @tshirt.can_change_state?(current_user, transition.from, transition.to)
      = f.input :state_requested, as: :hidden, input_html: { value: transition.to }
      = f.submit state_button_label(transition.event), class: "btn state-button"
